# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment directories
.env/
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
wheels/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Alembic migrations
migrations/versions/*.pyc
migrations/versions/*.pyo

# Environment variables file
.env

# IDE / Editor directories and files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# macOS specific files
.DS_Store

# Backup files
*.bak
*.swp
*.swo
